@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  html {
    @apply h-full;
  }
  
  body {
    @apply h-full bg-zinc-950 text-white antialiased;
  }
}
